<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
        <title>Log In</title>
        <style>
            * {
                font-family: 'Noto Sans', sans-serif;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            body {
                background: url('./bgcolor.png');
                overflow: hidden;
            }

            .container {
                max-width: 440px;
                padding: 0 20px;
                margin: 170px auto;
            }

            .wrapper {
                width: 100%;
                box-shadow: 0 1.6px 1.6px rgb(0 0 0 / 2%), 0 3.8px 3.8px rgb(0 0 0 / 3%), 0 6.9px 6.9px rgb(0 0 0 / 4%), 0 11.4px 11.4px rgb(0 0 0 / 5%), 0 18.8px 18.8px rgb(0 0 0 / 6%), 0 32.8px 32.8px rgb(0 0 0 / 7%), 0 71px 71px rgb(0 0 0 / 9%);
                border-radius: 18px;
            }

            .wrapper .title {
                line-height: 90px;
                text-align: center;
                font-size: 28px;
                font-weight: 600;
                border-radius: 18px 18px 0 0;
                background: linear-gradient(rgb(220, 220, 220), rgb(187, 201, 228));
            }

            .wrapper form {
                padding: 30px 20px;
            }

            .wrapper form .row {
                height: 47px;
                margin-bottom: 15px;
                position: relative;
            }

            .wrapper form .row input {
                height: 100%;
                width: 100%;
                padding-left: 60px;
                border-radius: 8px;
                outline: none;
                border: 1px solid lightgrey;
                font-size: 16px;
                transition: all 0.3s ease;
            }

            form .row input:focus {
                border-color: lightsteelblue;
                box-shadow: inset 0 0 2px 2px rgba(26, 188 156, 0.25);
            }

            .wrapper form .row i {
                position: absolute;
                width: 45px;
                height: 100%;
                background: linear-gradient(rgb(220, 220, 220), rgb(187, 201, 228));
                display: flex;
                align-items: center;
                justify-content: center;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }

            .wrapper form .button input {
                padding-left: 0;
                background: linear-gradient(rgb(220, 220, 220), rgb(187, 201, 228));
                cursor: pointer;
                font-weight: 500;
                font-size: 18px;

            }

            form .button input:hover {
                background: #48556e;
            }

            .wrapper form .pass {
                margin: -8px 0 20px;
            }

            .wrapper form .pass a {
                text-decoration: none;
                color: #48556e;
                font-size: 17px;
            }

            .wrapper form .pass a:hover {
                text-decoration: underline;
            }

            .wrapper form .signup-link {
                text-align: center;
                margin-top: 20px;
                font-size: 17px;
            }

            .wrapper form .signup-link a {
                text-decoration: none;
                color: #48556e;

            }

            .wrapper form .signup-link a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="wrapper">
                <div class="title">
                    <span>Login Form</span>
                </div>

                <form action="/login" method="POST">
                    <div class="row">
                        <i class="fa fa-envelope fa-lg"></i>
                        <input type="email" placeholder="Email" name="email">
                    </div>

                    <div class="row">
                        <i class="fa fa-lock fa-lg"></i>
                        <input type="password" placeholder="Password" name="password">
                    </div>

                    <div class="pass">
                        <a href="#">Forgot password?</a>
                    </div>
                    <div class="row button">
                        <input type="submit" value="Login">
                    </div>

                    <div class="signup-link">
                        Not a member?
                        <a href="./signup.html">Sign up now</a>
                    </div>
                </form>
            </div>
        </div>

    </body>
</html>
