* {
    box-sizing: border-box;
  }

  header {
      text-align: center;
      width: 100%;
  }
  
body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: proxima-nova;
}

.link {
    width: 33.3%;
    line-height: 3em;
    border-top: solid 1px #c4bdb1;

}

#title {
    font-family: din-condensed-web;
}
nav a{
    color: black;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
    display: block;
    float: left;
    text-align: justify;
    font-family: din-condensed-web;
}

nav a:hover{
    background-color: grey;
}

.clearfix::after{
    clear: both;
}

.clearfix {
    width: 100%;
    overflow: hidden;
}

blockquote {
    text-align: center;
    font-size: larger;
    line-height: 2em;
    font-family: adobe-garamond-pro;
}

h3 {
    text-align: center;
}

#img_container {
    width: 90%;
    margin: 0 auto;
    /* overflow: hidden; */
}

#img_container img {
    width: 100%;
}


img {
    border-radius: 10px;
}

.container {
    /* margin-left: 20%; */
    float: left;
    width: 33.3%;
    padding: 10px;
    
}

main {
    padding: 10px;
}

#para {
    margin-left: 25%;
    width: 50%;
    text-align: center;
}

footer {
    background: #c7423f;
    margin-top: 30px;
    text-align: center;
    clear: both;
}

#read {
    background-color: white;
    padding: 25px 46px;
    width: 30%;
    margin-left: 35%;
    font-family: proxima-nova;
}

@media screen and (max-width: 550px) {
    .container {
        width: 100%;
        float: none;
        padding: 10px 0px 10px 0px;
    }
    #img_container{
        width: 100%;
    }
    nav a{
       display: none;
    }
}
