* {
    box-sizing: border-box;
  }

header {
      text-align: center;
      width: 100%;
      overflow: hidden;
  }
  
body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: proxima-nova;
  
}

.topnav {
    width: 30%;
    line-height: 3em;
    border-top: solid 1px #c4bdb1;
    border-bottom: solid 1px #c4bdb1;
    overflow: hidden;
    float: left;
    margin: 50px 0px;
}

#title {
    font-family: din-condensed-web;
    width: 40%;
    float: left;
    padding-top: 65px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    color: #c7423f;
    text-align: center;
}

.topnav a{
    color: black;
    width: 33.33%;
    padding: 9px 8px;
    text-decoration: none;
    display: block;
    float: left;
    text-align: center;
    font-family: din-condensed-web;
    letter-spacing: 0.09em;
   font-family: Arial, Helvetica, sans-serif;
  
}

.topnav a:hover{
    background-color: grey;
}

.clearfix::after{
    clear: both;
}

.clearfix {
    width: 100%;
    overflow: hidden;
}

blockquote {
    text-align: center;
    font-weight: 400;
    line-height: 1.5em;
    font-family: adobe-garamond-pro;
    font-size: 40px;
    letter-spacing: 0.02em;
}

main h3 {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
}

.container h3 {
    font-size: 16px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-align: center;
}

#img_container {
    width: 90%;
    margin: 0 auto;
    /* overflow: hidden; */
}

#img_container img {
    width: 100%;
}


img {
    border-radius: 10px;
}

.container {
    float: left;
    width: 33.3%;
    padding: 10px; 
}

.container blockquote {
    font-family: adobe-garmond-pro;
    font-size: 25px;
    letter-spacing: 0.01em;
    text-align: center;
    line-height: 1.25em;

}
main {
    padding: 10px;
}

#para {
    margin-left: 12%;
    width: 70%;
    text-align: center;
}

footer {
    background: #c7423f;
    margin-top: 35px;
    text-align: center;
    clear: both;
    padding: 30px 30px;
}

#read {
    background-color: white;
    padding: 17px 40px;
    width: 20%;
    margin-left: 40%;
  
}

#read a{
    font-family: Arial, Helvetica, sans-serif;
    color: #c7423f;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
   
}

@media screen and (max-width: 550px) {
    .container {
        width: 100%;
        float: none;
        padding: 10px 0px 10px 0px;
    }
    #img_container{
        width: 100%;
    }

    #title {
        width: 100% !important;
    }

    .topnav {
        width: 0% !important;
        height: 0% !important;
    }

    footer {
        padding: 60px 10px;
    }

   #read{
        display:block;
        width:100% !important;
    }
}
